@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body{
    background-color: black;
}

#root{
    width: 100%;
    min-height: 100vh;
    background-color: black;
    color: white;
}

a{
    color: white;
    text-decoration: none;
}

p{
    margin: 0;
    padding: 0;
}

ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

.mantine-DateInput{

    &-day, &-calendarHeaderLevel, &-calendarHeaderControl{
        &:hover{
            background-color: #797979 !important;
        }
    }
}